<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo_nodejs</title>
</head>
<body>
    <h1>Todo List</h1>
    <div>
        <form method="post" action="/todos">
            <input type="text" name="text" placeholder="Enter Todo"/>
            <button>Add</button>
        </form>
    </div>
    <ul>
        <%
        allTodos.forEach(element => { %>
            <li><%=element.text %></li>
       <% });
        %>
    </ul>
</body>
</html>